#container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    margin-left: 15px;
    margin-right: 15px;
    
    
}

.grid{
    height: 90vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.row{
    background-color: peachpuff;
   
    height: 5.625%;
    width: auto;
}

#extras{
    position: fixed;
    bottom: 30px;
}





