#container{
    height: 100vh;
    display: flex;
}

.grid{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row{
    background-color: peachpuff;
    border: 3px solid brown;
    height: 6.25%;
    width: auto;
}

.row:hover{
    background-color: white;
}



